		<div ng-show="!security.isAuthenticated && !!menuBarButton[2]">
			
			<div class="col-sm-6 col-sm-offset-3" >
				<form ng-submit="securityLogin(username, password)" >
					<div>
						<label>Username:</label>
						<input type="text" name="username" ng-model="username" required/><br/>
					</div>
					<div>
						<label>Password:</label>
						<input type="password" name="password" ng-model="password" required/>
					</div>
					<div>
						<input type="submit" value="Log in"/>
					</div>
				</form>
			</div>
		</div>